*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html{
    
}

body{
    background-color: rgb(15, 15, 15);
    margin: 0;
}

.icon{    
    color: white;
}

hr{
    border: none;
    border-top: 0.5px rgb(196, 196, 196) solid ;
}

#header{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
    border: 1px greenyellow solid;
    
}

#header-items-container{
    padding-left: 1.5%;
    display: flex;
    align-items:center;
    width: 100%;
    
}

#yt-logo{
    height: 1.25rem;
    padding-left: 2%;
}

#search-bar{
    display: flex;
    align-items:center;
    margin-left: 15%;
}

#bar{
    border-radius: 25px 0 0 25px;
    width: 32rem;
    height: 2.2rem;
    border: 1px gray solid;
    background-color: rgb(15, 15, 15);
    color: white;
}

#bar:focus {
    border: 1px blue;
  }

#search-button{
    margin-left: 0;
    width: 3rem;
    height: 2.4rem;
    border-radius: 0 25px 25px 0;
    border: 1px gray solid;
    border-left: 0;
    background-color: rgb(22, 22, 22);
}
#search-button:hover{
    cursor: pointer;
}

#search-icon{
    margin-top: 3px;
}

#mic-button{
    margin-left: 1%;
    background-color: rgb(12, 12, 12);
    border-radius: 70%;
    height: 2.5rem;
    width: 2.5rem;
    
    border: none;
    
}

#mic-button:hover{
    cursor: pointer;
    background-color: rgb(22, 22, 22);  
}
#mic-icon{
  
}

#left-icons{
    display: flex;
    align-items:center;
    margin-left: 13%;
    border: 1px red solid;
}

#left-icons i{
    padding: 10%;
}

#prof-pic{
    border-radius: 50%;
    margin-left: 1rem;
    height: 2rem;
    border: 1px red solid;
}

#content{
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    margin-top: 0%;
    border: 1px rgb(0, 255, 213) solid;
    position: fixed;
    margin-top: 3.5rem;
}

/* #region Column 1*/
.column1 {
    background-color: rgb(15, 15, 15);; /* Example background color */
    height: 100vh;
    width: 1fr;
    border: 1px blue solid;
    
    
  }
#menu-active{
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;
    padding-top: 0.5%;
    padding-left: 1%;
    
}

.column1:hover{
    overflow: scroll;
}

#menu-active ul{
    display: flex;
    flex-direction: column;
}

#menu-active li{
    list-style: none; 
    font-size: 0.85rem;
    color: white;
    padding: 4%;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items:center;
}


#menu-active li:hover{
    background-color: rgb(44, 44, 44);
}

#menu-active p{
    padding-left: 10%;
}

/* #endregion */

/* #region Column 2*/
.column2 {
    background-color: rgb(15, 15, 15);; /* Example background color */
    border: 2px red solid;
}
#topic-container{
    background-color: rgb(15, 15, 15);
    width: 100%;
    
}
#topics-bar{         
    display: flex;
    align-items: center;   
    width: 100%;  
}

#topics-bar li{
    display: flex;
    margin-top: 0.3%;
    margin-left: 2%;
    color: white;
    list-style: none;
    padding: 0.5%;
}


#topics-bar li p{
    background-color: rgb(44, 44, 44);
    padding: 0.4rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

#topics-bar li p:hover{
    cursor: pointer;
    background-color: rgb(70, 70, 70);
}

#videos-section{
    color: white;
    height: 100%;
    width: 100%;

    border: 1px palevioletred solid;
}

#videos-grid{
    width: 100%;
    height: 100%;
    border: 1px rgb(43, 255, 0) solid;
    padding-top: 2%;
    padding-left: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
    grid-gap:20px;
}

.thumbnail{
    height: 25%;
    border-radius: 15px 15px 15px 15px;
}

.detail-container{
    display: flex;
    padding-top: 0.5rem;
}
.text-column{
    padding-left: 0.5rem;
}

.video-title{
    font-size: 1rem;
    font-weight: bold;
}


.video-channel{
    font-size: 0.8rem;
    color: gray;
    padding-top: 0.5rem;
}

.views{
    font-size: 0.8rem;
    color: gray;
    padding-top: 0.2rem;
}
.channel-prof{
    border-radius: 50%;
    height: 3rem;
}

/* #endregion */

